:root {
  --h1-scale-factor: 1;
  --h2-scale-factor: 1;
  --h3-scale-factor: 1;
  --subheader-scale-factor: 1;
  --columns-scale-factor: 1;
}

body {
  font-family: 'Arial', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: auto;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  padding: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1, h2, h3, .subheader {
  transition: font-size 0.3s ease-in-out;
}

h1 {
  font-weight: normal;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #fff;
  font-size: calc(3vw * var(--h1-scale-factor));
  text-transform: uppercase;
  letter-spacing: calc(1vw * var(--h1-scale-factor));
  display: flex;
  align-items: center;
  padding: calc(0vw * var(--h1-scale-factor));
}

h1 .logo {
  width: calc(2.8vw * var(--h1-scale-factor));
  height: calc(2.8vw * var(--h1-scale-factor));
  margin-right: calc(0.5vw * var(--h1-scale-factor));
  box-shadow: none;
}

h2 {
  font-weight: normal;
  color: #fff;
  font-size: calc(1.4vw * var(--h2-scale-factor));
  text-transform: uppercase;
  letter-spacing: calc(0.5vw * var(--h2-scale-factor));
  padding: calc(0vw * var(--h2-scale-factor));
  padding-top: calc(2vw * var(--h2-scale-factor));
}

h3 {
  font-weight: bold;
  color: #000;
  font-size: calc(1.25vw * var(--h3-scale-factor));
  text-transform: uppercase;
  letter-spacing: calc(0.5vw * var(--h3-scale-factor));
  background-color: #1afe7d;
  padding: calc(0.7vw * var(--h3-scale-factor));
  max-width: 100%;
}

.subheader {
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 calc(0.5vw * var(--subheader-scale-factor)) #ffffff;
  font-size: calc(1.5vw * var(--subheader-scale-factor));
  padding: calc(0vw * var(--subheader-scale-factor));
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: calc(0.3vw * var(--subheader-scale-factor));
  width: 100%;
  margin: 0 auto;
}

.subheader-smaller{
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 calc(0.5vw * var(--subheader-scale-factor)) #ffffff;
  font-size: calc(1.5vw * var(--subheader-scale-factor));
  padding: calc(0vw * var(--subheader-scale-factor));
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: calc(0.3vw * var(--subheader-scale-factor));
  width: 100%;
  margin: 0 auto;
}

.subheader-smaller {
  display:none;
}

/*############################################################################################################*/

.Arrows {
  display: block;
  position: absolute;
  bottom: 34%;
  left: 0 auto;
  max-width: 30%;
  height: auto;
  box-shadow: none;
  z-index: 1;
}

#arrow-img {
  max-width: 10%;
  max-height: 20%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex: 1;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  margin: 0 auto;
  width: 45%;
}

img {
  max-width: 100%;
  height: 100%;
  border-radius: 6.8px;
  box-shadow: 4px 0px 0 0 #1afe7d;
  margin: 0;
}

/* Flexbox styles to place images side by side */
.images-container {
  display: flex;
}

.images-container img {
  margin-right: 60px;
}

.content .column img {
  height: auto;
  margin: 0 3% 0;
  width:22%;
}

.column img.ImageA:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

/*############################################################################################################*/

.bar {
  position: relative;
  display: flex;
  height: 10px;
  background-color: #1afe7d;
}


/*############################################################################################################*/

.three-columns img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

/* Additional CSS for the three-columns section */
.three-columns {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  max-width: 100%;
  flex-wrap: wrap;
}

.three-columns img {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  transform-origin: center;
  margin: 25px;
  max-width: 400px;
  height: auto;
  border-radius: 6.8px;
  box-shadow: 4px 0px 0 0 #1afe7d;
  transition: transform 0.3s ease-in-out;
}



/*############################################################################################################*/

#video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  filter: brightness(20%);
  object-position: center;
}

#video-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(26, 254, 125, 0.6), rgba(26, 254, 125, 0.6));
  z-index: 1;
}


/*############################################################################################################*/

/* Media Queries */

@media screen and (max-width: 1000px) {
  body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow: auto;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  h1 {
    max-width: 100%;
    font-size: calc(3vw * var(--h1-scale-factor));
  }
  h1 .logo {
    width: calc(4vw * var(--h1-scale-factor));
    height: calc(4vw * var(--h1-scale-factor));
    margin-right: calc(0.5vw * var(--h1-scale-factor));
    box-shadow: none;
  }
  h2 {
    width: 80%;
    max-width: 100vw;
    font-size: calc(2vw * var(--h2-scale-factor));
  }

  h3 {
    width: 90%;
    font-size: calc(2.5vw * var(--h3-scale-factor));
  }

  .subheader-smaller {
    display: contents;
    max-width: 80vw;
    font-size: calc(3vw * var(--subheader-scale-factor));
    text-align: center;
  }

  .subheader {
    display: none;
  }
  
  .column  {
    width: 45%;
    }
  
  .content .column img  {
    width: 45%;
  }

  #arrow-img {
    max-width: 20%;
    max-height: 35%;
  }

  .bar  {
    margin-top:2%;
  }

  .three-columns {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  max-width: 100%;
  flex-wrap: wrap;
}

.three-columns img {
  flex: 1;
  position: relative;
  bottom: 10px;
  left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  transform-origin: center;
  margin: 25px;
  margin-top: 3%;
  max-width: 27%;
  height: auto;
  border-radius: 6.8px;
  box-shadow: 4px 0px 0 0 #1afe7d;
  transition: transform 0.3s ease-in-out;
  }
}
@media screen and (max-width: 800px) {
      h1 {
        max-width: 100%;
        font-size: calc(3vw * var(--h1-scale-factor));
      }
      h1 .logo {
        width: calc(4vw * var(--h1-scale-factor));
        height: calc(4vw * var(--h1-scale-factor));
        margin-right: calc(0.5vw * var(--h1-scale-factor));
        box-shadow: none;
      }
      h2 {
        width: 80%;
        max-width: 100vw;
        font-size: calc(2vw * var(--h2-scale-factor));
      }
    
      h3 {
        width: 90%;
        font-size: calc(2.5vw * var(--h3-scale-factor));
        margin-top: 0;
      }
    
      .subheader-smaller {
        max-width: 80vw;
        font-size: calc(3vw * var(--subheader-scale-factor));
        text-align: center;
        text-align:center;
      }
    
      .subheader {
        display: none;
      }
      
      .column  {
        width: 100%;
        }
      
      .content .column img  {
        width: 40%;
      }

      #arrow-img {
        max-width: 20%;
        max-height: 30%;
      }

      .bar  {
        margin-top: 2%;
        }

      .three-columns {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: center;
        max-width: 100%;
        flex-wrap: wrap;
      }
  
      .three-columns img {
        flex: 1;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        transform-origin: center;
        margin: 25px;
        margin-top:3%;
        max-width: 199px;
        height: auto;
        border-radius: 6.8px;
        box-shadow: 4px 0px 0 0 #1afe7d;
        transition: transform 0.3s ease-in-out;
      }
    }
  

  
@media screen and (max-width: 600px) {
  h1 {
    max-width: 100%;
    font-size: calc(5vw * var(--h1-scale-factor));
  }
  h1 .logo {
    width: calc(10vw * var(--h1-scale-factor));
    height: calc(10vw * var(--h1-scale-factor));
    margin-right: calc(0.5vw * var(--h1-scale-factor));
    box-shadow: none;
  }
  h2 {
    width: 80%;
    max-width: 75vw;
    font-size: calc(3.5vw * var(--h2-scale-factor));
  }

  h3 {
    width: 90%;
    font-size: calc(2.5vw * var(--h3-scale-factor));
  }

  .subheader-smaller {
    max-width: 80vw;
    font-size: calc(3vw * var(--subheader-scale-factor));
    text-align: center;
    text-align:center;
  }

  .subheader {
    display: none;
  }
  
  .column  {
    width: 10%;
    }
  
  .content .column img  {
    width: 45%;
  }

  #arrow-img {
    max-width: 20%;
    max-height: 25%;
  }

  .three-columns {
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform-origin: center;
      max-width: 100%;
      flex-wrap: wrap;
    }

    .three-columns img {
      flex: 1;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      transform-origin: center;
      margin: 25px;
      max-width: 299px;
      height: auto;
      border-radius: 6.8px;
      box-shadow: 4px 0px 0 0 #1afe7d;
      transition: transform 0.3s ease-in-out;
    }
  }


/*XXXXXXXXXXXXXXXXXXXXXXXXXXX */

.white-line {
  height: 1px;
  background-color: #fff;
  margin: 0px 0;
}

.enlarged-text {
  font-size: 1.3em;
  text-align: center;
  text-decoration: underline;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXX */

.scaling-control {
  margin-bottom: 0px;
  display: none;
}

.scaling-control label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}


.scaling-control input[type="range"] {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}

.scaling-control .scale-value {
  display: inline-block;
  width: 30px;
  margin-left: 10px;
  vertical-align: middle;
  font-weight: bold;
}  

