:root {
  --h1-scale-factor: 0.7;
  --h2-scale-factor: 0.8;
  --h3-scale-factor: 0.9;
  --subheader-scale-factor: 0.8;
  --columns-scale-factor: 0.75;
}

body {
  font-family: 'Arial', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: auto;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1, h2, h3, .subheader {
  transition: font-size 0.3s ease-in-out;
}

h1 {
  font-weight: normal;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #fff;
  font-size: calc(4vw * var(--h1-scale-factor));
  text-transform: uppercase;
  letter-spacing: calc(1vw * var(--h1-scale-factor));
  display: flex;
  align-items: center;
  padding: calc(0vw * var(--h1-scale-factor));
}

h1 .logo {
  width: calc(2.8vw * var(--h1-scale-factor));
  height: calc(2.8vw * var(--h1-scale-factor));
  margin-right: calc(0.5vw * var(--h1-scale-factor));
  box-shadow: none;
}

h2 {
  font-weight: normal;
  color: #fff;
  font-size: calc(1.6vw * var(--h2-scale-factor));
  text-transform: uppercase;
  letter-spacing: calc(0.5vw * var(--h2-scale-factor));
  padding: calc(2vw * var(--h2-scale-factor));
}  

h3 {
  font-weight: bold;
  color: #000;
  font-size: calc(1.6vw * var(--h3-scale-factor));
  text-transform: uppercase;
  letter-spacing: calc(0.5vw * var(--h3-scale-factor));
  background-color: #1afe7d;
  padding: calc(0.7vw * var(--h3-scale-factor));
  display: inline;
}

.subheader {
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 calc(0.5vw * var(--subheader-scale-factor)) #ffffff;
  font-size: calc(2vw * var(--subheader-scale-factor));
  padding: calc(0.3vw * var(--subheader-scale-factor));
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: calc(0.3vw * var(--subheader-scale-factor));
}

.Arrows {
  display: block;
  position: absolute;
  bottom: 34%;
  left: 35%;
  max-width: 30%; /* Adjust the max width accordingly */
  height: auto;
  box-shadow: none;
  z-index: 1;
}

.Arrows:hover {
  transform: none; /* Disable the scaling effect on hover */
}

#arrow-img {
  /* Add your specific styles for the arrow image here */
  /* For example, you can adjust its size or position */
  max-width: 30%;
  max-height: 30%;
  left: 40.5%; /* Adjust the position as needed */
  bottom: 35%; /* Adjust the position as needed */
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust alignment to create space between columns */
  transform: scale(var(--columns-scale-factor));
  transform-origin: top;
}

.column {
  flex: 1;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  transform-origin: center;
  margin: 0 auto; /* Adjust the margin value to create space between rows */
  max-width: fit-content; /* Adjust the width to your desired value */
}

img {
  /* Remove max-height to keep images at their original size */
  max-width: 100%;
  height: auto;
  border-radius: 6.8px;
  /* Remove align-items as it is not applicable to the img element */
  box-shadow: 4px 0px 0 0 #1afe7d;
  transition: transform 0.3s ease-in-out;
  margin: 0 auto; /* Adjust the margin value to create space between rows */
}

/* Flexbox styles to place images side by side */
.images-container {
  display: flex;
}

.images-container img {
  margin-right: 60px; /* Adjust the spacing between images as needed */
}

.content .column img {
  max-width: 38%;
  max-height: 38%;
}

/* Additional CSS to visualize columns */
/*
.column {
  background-color: rgba(255, 0, 0, 0.3);
}

.three-columns {
  background-color: rgba(0, 0, 255, 0.3); 
}*/

img:hover {
  transform: scale(1.05);
}

/* Additional CSS for the three-columns section */
.three-columns {
   flex: 1;
  padding: 10px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  transform-origin: center;
  margin: 0 auto; /* Adjust the margin value to create space between rows */
  max-width: fit-content; /* Adjust the width to your desired value */
  top: 85%;
}


.three-columns .column {
  flex: 1;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transform-origin: center;
  margin: 0px 0; /* Adjust the margin value to create space between rows */
}

.three-columns img {
  max-height: 100%;
  max-height: 500px; /* Set a max-height for the images */
  height: auto;
  border-radius: 6.8px;
  align-items: stretch;
  box-shadow: 4px 0px 0 0 #1afe7d;
  transition: transform 0.3s ease-in-out;
}
  

.bar {
  position: absolute;
  top: calc(86% - 5px); /* Adjust the value to move the bar up or down */
  height: 10px;
  background-color: #1afe7d;
  bottom: 0;
  left: 0;
  right: 0;
}

#video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  filter: brightness(20%);
  object-position: center;
}

#video-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(26, 254, 125, 0.6), rgba(26, 254, 125, 0.6));
  z-index: 1;
}

.scaling-control {
  margin-bottom: 0px;
  display: none;
}

.scaling-control label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

.scaling-control input[type="range"] {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}

.scaling-control .scale-value {
  display: inline-block;
  width: 30px;
  margin-left: 10px;
  vertical-align: middle;
  font-weight: bold;
}  

.white-line {
  height: 1px;
  background-color: #fff;
  margin: 0px 0;
}

.enlarged-text {
  font-size: 1.3em;
  text-align: center;
  text-decoration: underline;
}
